[target.thumbv7em-none-eabihf]
rustflags = [
    "-C", "link-arg=-Timxrt-link.x",
    "-C", "link-arg=-Tdefmt.x",
    "-C", "link-arg=-Tdevice.x",
    "-C", "link-arg=-error-limit=0",
    "-C", "link-arg=-nmagic",
]
